<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Ma super application web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  <script src="../javascript/cookies.js"></script>
    <style type="text/css">
        body {
        color:black;
        background-image:url("/images/fond_jaune.png");
        background-attachment: fixed;
        background-repeat: repeat;
    }
    h1 {
        text-align:center;
    }
    </style>
</head>
  <body>
      <div class="container">
        <a href="/">
          <h1> Mon super site </h1>
        </a>
          <hr>
          <h3>Personnages </h3>
          {% block content %}{% endblock %}
          <hr>
          <div class="text-center">
            ©2019 Copyright Ana-Maria Tucaliuc - Projet BDD 
          </div>
      </div>
      <script>
        </script>
  </body>
</html>