<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Ma super application web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
      <div class="container">
        <a href="/">
          <h1> Mon super site=yess!!! </h1>
        </a>
          <hr>
          <h3>Personnages </h3>
          {% block content %}{% endblock %}
          <hr>
          <div class="text-center">
            © Copyright Ana-Maria Tucaliuc
          </div>
      </div>
  </body>
  
</html>