{% extends "layout.html" %}

{% block content %}
  <h2> Personnages de type <span style="background-color: {{c.color}}" class="badge badge-pill badge-primary">{{categorie.name}} </span></h2>
  <hr>
  {% for s in personnages %}
      <div class="card card-primary">
          <div class="card-header">
              <a href='/{{s._id}}' >{{s.name}} n° {{s.number}}</a>
          </div>
          <div class="card-body">
                <div style="width: 1080px; text-overflow: ellipsis; white-space: nowrap;
                overflow: hidden;">  {{s.description}}</div> 
          </div>
      </div>
  {% endfor %}
{% endblock %}